.input{
  padding: 1rem 2rem;
  margin: 2rem;
  border-radius: 1rem;
  border: 2px solid #4f196f;
}
.error{
  padding: 1rem 2rem;
  margin: 2rem;
  border-radius: 1rem;
  border: 2px solid #ff0000;
}
.error::placeholder {
  color: red;
  opacity: 1;
}
