.startButton {
  color: #fff;
  background-color: #4f196f;
  padding: 0.8rem 10rem;
  margin: 3rem;
  cursor: pointer;
  border: 2px solid #4f196f;
  border-radius: 3rem;
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;

  &:hover:active {
    color: #4f196f;
    background-color: #fff;
  }
}
