.containerStyles {
  height: 20px;
  width: 80%;
  background-color: #e0e0de;
  border-radius: 50px;
  margin: 50px;
}

.fillerStyles {
  height: 100%;
  background-color: #6a1b9a;
  border-radius: inherit;
  text-align: right;
  transition: width 1s ease-in-out;
  position: relative;
}

.labelStyles {
  padding: 5px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  position: absolute;
  bottom: -3px;
}
